html, body {
  margin: 0;
  padding: 0;
  /* background: black; */
}

body {
  overflow: hidden;
  font-family: 'Space Mono', monospace;
}

h1 {
  font-size: 1.5rem;
}

#splash {
position: absolute;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
z-index: 100;
background: rgba(47,76,73,0.8);
color: white;
transition: right 0.5s;
}

.dialog {
  border: 5px solid grey;
  border-radius: 1rem;
  background: rgba(50,50,50,1);
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

#brief {
  text-align: left;
}

#brief ul {
  list-style-type: none;
  padding: 0;
}

@keyframes fadein {
  from { opacity: 1; }
  to   { opacity: 0.7; }
}

.dialog input {
  margin-bottom: 0.7rem;
  text-align: center;
}

#gameover {
  z-index: 10;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate( -50%, -50%);
    border-radius: 2rem;
    border: 5px solid #555;
    background: rgb(30,30,30);
    color: white;
    /* visibility: hidden; */
    opacity: 1;
    transition: opacity 2s linear;
    padding: 2rem;
}

.join-game {
  margin-left: 50%;
  transform: translate(-50%);
  width: 9em;
}

#overlay {
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
  z-index: 1000;
}

#score-wrapper, #instruction {
  width: 15rem;
  border: 3px solid grey;
  border-radius: 20px;
  background: rgba(30,30,30,0.3);
}

#score-wrapper {
  padding: 0 1rem;
  color: white;
}

.score, #my-score {
  position: absolute;
  transition: all 1s;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}

.score {
  display: none;
  top: 50rem;
}

#my-score {
  color:#78c8c0;
  top: 0rem;
}

#instruction {
  opacity: 0;
  margin-top: 1rem;
  text-align: center;
  transition: all 2s linear;
  padding: 0.5rem 1rem;
  color:grey;
}

#instruction span {
  background:grey;
  border-radius: 10px;
  color: white;
  padding: 0 0.4rem;
}
