html, body {
  margin: 0;
  padding: 0;
}

body {overflow: hidden;}

#splash {
position: absolute;
display: flex;
align-items: center;
justify-content: center;
top:0;
left: 0;
width: 100vw;
height: 100vh;
background: rgba(0,0,102,0.9);
color: white;
}

#gameover {
  z-index: 10;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate( -50%, -50%);
    border-radius: 2rem;
    border: 5px solid #555;
    background: rgb(30,30,30);
    color: white;
    /* visibility: hidden; */
    opacity: 1;
    transition: opacity 2s linear;
    padding: 2rem;
}

#gameover button {
  margin-left: 50%;
  transform: translate(-50%)
}

#hud {
  position: absolute;
  top: 30px;
  left: 30px;
  border: 3px solid grey;
  border-radius: 20px;
  color: white;
  background: black;
  z-index: 1000;
  padding: 1rem;
}

.heart {
  opacity: 1;
  -webkit-transition: opacity 1000ms linear;
  transition: opacity 1000ms linear;
}
